<strong>Olá, {{ delivery }} </strong>
<p>Você acabou de receber uma nova entrega, confira os dados abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Cliente: </strong> {{ recipientName }} <br />
  <strong>Endereço: </strong> {{ recipientStreet }} <br />
  <strong>Cidade: </strong> {{ recipientCity }} <br />
</p>
